form.form-inline {
    margin-top: 7px;
    margin-bottom: 0;
}

#login-form > div > input {
    width: 120px !important;
}

.bottom {
    border-bottom: 1px solid #000000;
}

.right {
    border-right: 1px solid #000000;
}

.left {
    border-left: 1px solid black;
}
