@import url(http://fonts.googleapis.com/css?family=Roboto:400);
form.form-inline {
    margin-top: 7px;
    margin-bottom: 0;
}

#login-form > div > input {
    width: 120px !important;
}

.bottom {
    border-bottom: 1px solid #000000;
}

.right {
    border-right: 1px solid #000000;
}

.left {
    border-left: 1px solid black;
}
body {
    background-color:#fff;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto,arial,sans-serif;
}

.login-container {
    padding: 50px 0;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 {
    border:0 solid #fff;
    border-bottom-width:1px;
    padding-bottom:10px;
    text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}
