<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <link href="/resources/css/bootstrap.css" rel="stylesheet"/>
    <link href="/resources/css/morkva.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>Sign Up</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="center-block" style="width: 500px;">
            <h4>Sign Up</h4>

            <form th:action="@{/signup}" method="post" name="signUpForm" th:object="${user}">
                <fieldset>
                    <div class="input-group">
                        <span class="input-group-addon">Login</span>
                        <input th:type="text" class="form-control input-sm" th:field="*{login}" title="Login"/>
                        <p th:errors="*{login}" class="alert alert-danger"></p>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>